@model MedicineProject.Models.BLs.CompanyPayment
@{
    ViewBag.Title = "GetCompanyPayment";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="card-body">
    <h4 class="mt-0 header-title">Company Registory</h4>
    <p class="text-muted font-14">Please Enter the Valid Information...@*</code>*@.</p>
    <div class="general-label">
        @*<form class="mb-0">*@

        @using (Html.BeginForm("Save", "CompanyPayment", FormMethod.Post))
        {
            <div class="form-group bmd-form-group">
                <label for="exampleInputEmail1" class="bmd-label-floating ">Company Name</label>
                @Html.TextBoxFor(x => x.CompanyID, new { @class = "form-control" })

                <span class="bmd-help">Enter valid Name..</span>
            </div>

            <div class="form-group bmd-form-group">
                <label for="exampleInputPassword1" class="bmd-label-floating">Total Amount</label>
                @Html.TextBoxFor(x => x.TotalAmount, new { @class = "form-control" })
                <span class="bmd-help">Enter valid Total Amount..</span>
            </div>

            <div class="form-group bmd-form-group">
                <label for="exampleInputPassword1" class="bmd-label-floating">Paid Amount</label>
                @Html.TextBoxFor(x => x.PaidAmount, new { @class = "form-control" })
                <span class="bmd-help">Enter valid Paid Amount..</span>
            </div>
            <div class="form-group bmd-form-group">
                <label for="exampleInputEmail1" class="bmd-label-floating ">Remaining Amount</label>
                @*<input type="date" id="datetime" class="form-control" />*@
                @Html.TextBoxFor(x => x.RemainingAmount, new { @class = "form-control" })

                <span class="bmd-help">Enter valid Remaining Amount..</span>
            </div>

            <div class="form-group bmd-form-group">

                <label for="exampleInputPassword1" class="bmd-label-floating">Payment Date</label>
                <h6 class="text-muted mt-3"></h6>
                @Html.HiddenFor(x => x.PaymentDate, new { @class = "form-control", id = "sdate" })

                <input type="date" id="pdate" class="form-control" />
                @*<input type="text" id="tttdate"  class="form-control" />*@
                <span class="bmd-help">Enter valid Payment Date..</span>
            </div>

            <div class="form-group bmd-form-group">
                <label for="exampleInputPassword1" class="bmd-label-floating">Bank Name</label>
                @Html.TextBoxFor(x => x.BankName, new { @class = "form-control" })
                <span class="bmd-help">Enter valid Bank Name..</span>
            </div>

            <div class="form-group bmd-form-group">
                <label for="exampleInputPassword1" class="bmd-label-floating">ReceiptNumber</label>
                @Html.TextBoxFor(x => x.ReceiptNumber, new { @class = "form-control" })
                <span class="bmd-help">Enter valid ReceiptNumber..</span>
            </div>
            @Html.HiddenFor(x => x.CompanyPaymentID)
            <br />
            <br />
            <input type="text" id="1id" />
            <input type="text" id="2id" />
            <div class="text-center">
                <button type="submit" class="btn btn-primary  btn-raised mb-0">Submit</button>
                <input class="btn btn-raised btn-danger  mb-0" value="Cancel" />
            </div>

        }



        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="myTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>CNIC</th>
                                <th>Address</th>
                                <th>DateOfJoining</th>
                                <th>DateOfResign</th>
                                <th>Salary</th>
                                <th>Designation</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.CompaniesPayments)
                            {
                                <tr>
                                    <td>@item.CompanyName</td>
                                    <td>@item.TotalAmount</td>
                                    <td>@item.PaidAmount</td>
                                    <td>@item.RemainingAmount</td>
                                    <td>@item.PaymentDate</td>
                                    <td>@item.BankName</td>
                                    <td>@item.ReceiptNumber</td>
                                    <td>@item.Designation</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Get", "CompanyPayment", new { ID = item.CompanyPaymentID }, new { @class = "glyphicon glyphicon-edit", @style = "color:blue" })
                                        @Html.ActionLink("Delete", "Delete", "CompanyPayment", new { ID = item.CompanyPaymentID }, new { @class = "glyphicon glyphicon-trash", @style = "color:red" })
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        @*</form>*@
    </div>
</div>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript">
    $(document).ready(function ()
    {
        alert('Heloo');
        var date = '';
        $("#pdate").change(function (event) {
            var selected = $(this).val();
            $('#sdate').val(selected);
        });
        // $('#1id').change(function ()
        // {
        //     date =
        //     alert( $('#2id').html(date) );

        //});

    });

</script>
